<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vintage Computer Library</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=0.2.1' | url }}">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>

  <script src="{{ '/assets/js/checkout.js' | url }}"></script>
</body>
<footer style="font-size: 11px; text-align: center; margin-top: 12px;">
  Syrinx v0.2.0
</footer>

</html>

